@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

:root {

  /* font */
  --font-default: sans-serif;
  --font-poor-story: 'Poor Story', var(--font-default);

  /* font size */
  --font-size-bolder: 2rem;
  --font-size-bold: 1.5rem;
  --font-size-small-bold: 1.25rem;
  --font-size-default: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-align: center;
  font-weight: bold;
  word-break: keep-all;
  
}

body {
  font-family: var(--font-poor-story);

  user-select: none;
}

header #title {

  font-size: var(--font-size-bolder);

  padding: var(--font-size-bolder);

}

.lin {
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 213, 46));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lin-highlight1 {
  background: linear-gradient(to right, rgb(76, 213, 13), rgb(0, 235, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lin-highlight2 {
  background: linear-gradient(to right, rgb(26, 87, 255), rgb(172, 39, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;

}

main #next_time {
  font-size: var(--font-size-bold);
}

main #today_time_table {
  margin-top: 20px;

  min-width: 300px;
}

main #time_table {

  margin-top: 20px;

  min-width: 300px;
}

main #teacher_name {

  display: none;

  position: fixed;

  background-color: rgba(128, 128, 128, 0.9);
  width: 100%;

  height: calc( var(--font-size-small-bold)*3 );

  padding: var(--font-size-small-bold);
  font-size: var(--font-size-small-bold);

  top: 50%;
  transform: translateY(-50%);

}

main #exam_time_table {
  
  margin-top: 40px;
  min-width: 300px;
}

main #exam_time_table thead tr:first-child {
  color: rgb(110, 110, 110);
}

main #exam_time_table tbody tr td {
  cursor: pointer;
}


#popup {
  position: fixed;

  width: 100vw;
  height: 100vh;
  
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3.5vw;

  transform: scale(0);

  backdrop-filter: blur(1.5px);
}

#popup #window {

  width: 85vw;

  padding: var(--font-size-default);

  opacity: 0.95;

  cursor: default;

  background: rgb(91, 91, 91);

  position: relative;
  
  font-size: var(--font-size-small-bold);
}

#popup #window #close {
  background-color: rgb(255, 80, 80);

  width: 6vw;
  height: 6vw;

  position: absolute;

  right: -1vw;
  top: -1vw;

  border-radius: 20%;

  cursor: pointer;

}

#popup #window #close span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: rgb(163, 0, 0);
}

#popup #window #close span:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

#popup #window #close span:last-child {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

#popup #window #text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: rgb(0, 0, 0);

}

#popup #window #text section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#popup #window #text #range {
  margin-top: var(--font-size-small-bold);
}

#popup #window #text #range ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

}

#popup #window #text #range ul li {
  width: 80%;
  border-bottom: solid 2px black;

}

#popup #window #text #question {
  margin-top: var(--font-size-small-bold);
}

#popup #window #text #question ul {
  list-style: none;
  display: flex;
  flex-direction: row;

  width: 70%;
  justify-content: space-around;
}

#popup #window #text #question ul li {
  margin-top: 10px;
}


footer {

  font-size: var(--font-default);

  position: fixed;
  bottom: calc(var(--font-size-default) * 0.75);
  background-color: white;
  width: 100%;
}

footer span {
  color: red;
}